<!-- {about} --><a name="about"></a>

  <p id="about">(From Wikipedia) The winter moth (Operophtera brumata) is a moth of the family Geometridae. It is an abundant species of Europe and the Near East and one of very few Lepidoptera of temperate regions in which the adults are active in the depth of winter.</p>

<p>Picture credit: <a href="https://upload.wikimedia.org/wikipedia/commons/b/b3/Operophtera_brumata_1_beentree.jpg">Wikimedia Commons</a></p>


<!-- {about} -->
<!-- {assembly} --><a name="assembly"></a>
  <h2 id="assembly" style="margin-bottom:5px">Assembly</h2>
  <p>Assembly scaffold file downloaded from <a href="http://www.bioinformatics.nl/wintermoth/data_files/Obru1.fsa.gz">http://www.bioinformatics.nl/wintermoth/data_files/Obru1.fsa.gz</a>. For details, see <a href="http://www.ncbi.nlm.nih.gov/assembly/GCA_001266575.1">NCBI assembly GCA_001266575.1</a></p>



<!-- {assembly} -->
<!-- {annotation} --><a name="annotation"></a>
  <h2 id="annotation" style="margin-bottom:5px">Annotation</h2>
  <p>Annotation GFF downloaded from <a href="http://www.bioinformatics.nl/wintermoth/data_files/Obru_genes.gff.gz">http://www.bioinformatics.nl/wintermoth/data_files/Obru_genes.gff.gz</a></p>
<!-- {annotation} -->
<!-- {references} -->
  <h2>References</h2>
  <ol>
    <!--li><a id="ref-01"></a><a href="http://europepmc.org/abstract/MED/123456">TITLE</a>.</li-->
  </ol>
 <!-- {references} -->
