<!-- {about} --><a name="about"></a>

  <p id="about">(From <a href="https://www.hgsc.bcm.edu/arthropods/caddisfly-genome-project">Caddisfly genome project</a>) Representative of Trichoptera: Limnephilus lunatus is a common species and a typical case-bearing caddisfly. Like almost all Trichoptera, 
this species has an aquatic larva. The adults are moth-like and can be found in the vicinity of the waters, in which their larvae develop. Many caddisfly species play an important role as bioindicators in limnological studies. The phylogeny and evolution of the 
caddisfies is, however, still poorly understood. Together with Lepidoptera (moths and butterflies), Trichoptera form a well-supported clade within holometabolous insects called Amphiesmenoptera.
</p>

<p>Picture credit: <a href="https://commons.wikimedia.org/wiki/Limnephilus_lunatus#/media/File:Limnephilus_lunatus_01.JPG">Wikimedia commons</a></p>

<!-- {about} -->
<!-- {assembly} --><a name="assembly"></a>
  <h2 id="assembly" style="margin-bottom:5px">Assembly</h2>

<p>Downloaded from  <a href="https://www.hgsc.bcm.edu/arthropods/caddisfly-genome-project">Caddisfly genome project</a></p>

<!-- {assembly} -->
<!-- {annotation} --><a name="annotation"></a>
  <h2 id="annotation" style="margin-bottom:5px">Annotation</h2>

<p>Downloaded from  <a href="https://www.hgsc.bcm.edu/arthropods/caddisfly-genome-project">Caddisfly genome project</a></p>

<!-- {annotation} -->
<!-- {references} -->
  <h2>References</h2>
  <ol>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/26311350">Skipper genome sheds light on unique phenotypic traits and phylogeny.
</a></li>
  </ol>
 <!-- {references} -->
