<!-- {about} --><a name="about"></a>
  
  <p id="about">(From Wikipedia) The Old World swallowtail (<em>Papilio machaon</em>) is a butterfly of the family Papilionidae. The butterfly is also known as the common yellow swallowtail or simply the swallowtail (a common name applied to all members of the family, but this species is the 'original', first to go by the name). It is the type species of the genus Papilio and occurs throughout the Palearctic region in Europe and Asia; it also occurs across North America, and thus, is not restricted to the Old World, despite the common name.</p>

<p>Picture credit: <a href="http://upload.wikimedia.org/wikipedia/commons/9/92/Papilio_machaon_Schwalbenschwanz.jpg">Wikimedia commons</a></p>


<!-- {about} -->
<!-- {assembly} --><a name="assembly"></a>
  <h2 id="assembly" style="margin-bottom:5px">Assembly</h2>
  <p>See <a href="http://www.ncbi.nlm.nih.gov/assembly/GCF_001298355.1/">NCBI GCF_001298355.1</a> for details.</p>
 
  
  
<!-- {assembly} -->
<!-- {annotation} --><a name="annotation"></a>
  <h2 id="annotation" style="margin-bottom:5px">Annotation</h2>
  <p>We imported the genome assembly and annotation from <a href="ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF_001298355.1_Pap_ma_1.0">NCBI Pap_xu_1.0 FTP</a></p>
<!-- {annotation} -->
<!-- {references} -->
  <h2>References</h2>
  <ol>
    <li><a id="ref-01"></a><a href="http://europepmc.org/abstract/MED/26354079">Outbred genome sequencing and CRISPR/Cas9 gene editing in butterflies.</a>.
  </ol>
<!-- {references} -->
