<!-- {about} --><a name="about"></a>
  
  <p id="about">(From Wikipedia) <em>Papilio xuthus</em>, also known as the Asian swallowtail, Chinese yellow swallowtail or the Xuthus swallowtail, is a yellow-colored. medium to large sized swallowtail butterfly found in northeast Asia, Northern Myanmar, southern China, Korean Peninsula, Japan (from Hokkaidō to Yaeyama Islands), Siberia, and the Hawaiian Islands.</p>
<!-- {about} -->
<!-- {assembly} --><a name="assembly"></a>
  <h2 id="assembly" style="margin-bottom:5px">Assembly</h2>
  <p>See <a href="http://www.ncbi.nlm.nih.gov/assembly/GCA_001298345.1/">NCBI GCA_001298345.1</a> for details.</p>
  
  
  
<!-- {assembly} -->
<!-- {annotation} --><a name="annotation"></a>
  <h2 id="annotation" style="margin-bottom:5px">Annotation</h2>
  <p>We imported the genome assembly and annotation from <a href="ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA_001298345.1_Pap_xu_1.0">NCBI Pap_xu_1.0 FTP</a></p>
<!-- {annotation} -->
<!-- {references} -->
  <h2>References</h2>
  <ol>
    <li><a id="ref-01"></a><a href="http://europepmc.org/abstract/MED/26354079">Outbred genome sequencing and CRISPR/Cas9 gene editing in butterflies.</a>.
  </ol>
<!-- {references} -->
