<!-- {about} --><a name="about"></a>
  
  <p><em>Melitaea cinxia</em>, the Glanville Fritillary, is a member of the Nymphalidae, the largest butterfly family. Named after an 17th century English lepidopterist, <a href="http://www.pharmaceutical-journal.com/opinion/blogs/lady-eleanor-and-her-elusive-butterfly/11106908.blog">Lady Eleanor Glanville</a>, its range <a href="http://www.ukbutterflies.co.uk/species.php?species=cinxia">in the UK</a> is now restricted to the Isle of Wight, and although distributed widely across Europe, North Africa and Asia, populations are reportedly in decline. The spatially separated <em>M. cinxia</em> populations in the Åland Islands, Finland, have been used to study the ecological, genetic and evolutionary consequences of habitat fragmentation.</p>
  <p>Picture credit (Creative Commons BY-SA 2.0): <a href="http://commons.wikimedia.org/wiki/File:Melitaea_cinxia_(3722394380).jpg">Gilles San Martin</a> 2009</p>
  <p><!--nbsp--> <!--nbsp--></p>
  <p id="about"></p>
<!-- {about} -->
<!-- {assembly} --><a name="assembly"></a>
  <h2 id="assembly" style="margin-bottom:5px">Assembly</h2>
  <p>The <em>Melitaea cinxia</em> genome was assembled by the <a href="http://www.helsinki.fi/science/metapop/research/mcgenome.html">Metapopulation Research Group</a> (MRG) at the University of Helsinki [1]. The <em>MelCinx1.0</em> assembly in Ensembl Metazoa consists of 8,261 scaffolds and a mitochondrial chromosome. A "superscaffold" assembly, with 1,453 superscaffolds covering 72% of the genome is also <a href="http://www.helsinki.fi/science/metapop/research/mcgenome2_downloads.html">available on the MRG website</a>. Both scaffolds and superscaffolds have been assigned to chromosomes, and mappings are provided by the <a href="http://www.helsinki.fi/science/metapop/research/mcgenome2_downloads.html">MRG</a>.</p>
<!-- {assembly} -->
<!-- {annotation} --><a name="annotation"></a>
  <h2 id="annotation" style="margin-bottom:5px">Annotation</h2>
  <p>Protein coding and non-coding RNA genes were annotated by the same group responsible for the assembly [1].</p>
<!-- {annotation} -->
<!-- {references} -->
  <h2>References</h2>
  <ol>
    <li><a id="ref-01"></a>The Glanville fritillary genome retains an ancient karyotype and reveals selective chromosomal fusions in Lepidoptera.
  </ol>
<!-- {references} -->
