<!-- {about} --><a name="about"></a>
  
  <p id="about">The tobacco hornworm <em>Manduca sexta</em> is an important insect model for invertebrate physiology, biochemistry, and molecular biology.  The data presented here have been made available by the <a href="https://www.hgsc.bcm.edu/tobacco-hornworm-genome-project">tobacco hornworm genome project</a> and <a href="http://agripestbase.org/manduca/?q=home">Manduca Base</a>.</p>
<!-- {about} -->
<!-- {assembly} --><a name="assembly"></a>
  <h2 id="assembly" style="margin-bottom:5px">Assembly</h2>
  <p>See <a href="http://www.ncbi.nlm.nih.gov/assembly/GCA_000262585.1">assembly version Msex_1.0</a> for details</p>
  
  
  
<!-- {assembly} -->
<!-- {annotation} --><a name="annotation"></a>
  <h2 id="annotation" style="margin-bottom:5px">Annotation</h2>
  <p>The annotation GFF was downloaded from <a href="ftp://ftp.bioinformatics.ksu.edu/pub/Manduca/OGS2/">OGS2</a></p>
<!-- {annotation} -->
<!-- {references} -->
  <h2>References</h3>
  <ol>
    <!--li><a id="ref-01"></a><a href="http://europepmc.org/abstract/MED/123456">TITLE</a>.
  </ol>
 <!-- {references} -->
