<!-- {about} --><a name="about"></a>
  
  <p id="about">(From Wikipedia) The Common Mormon (<em>Papilio polytes</em>) is a common species of swallowtail butterfly widely distributed across Asia. This butterfly is known for the mimicry displayed by the numerous forms of its females which mimic inedible red-bodied swallowtails, such as the common rose and the crimson rose.</p>
<!-- {about} -->
<!-- {assembly} --><a name="assembly"></a>
  <h2 id="assembly" style="margin-bottom:5px">Assembly</h2>
  <p>See <a href="http://www.ncbi.nlm.nih.gov/assembly/GCF_000836215.1/">NCBI GCF_000836215.1</a> for details.</p>
  
  
  
<!-- {assembly} -->
<!-- {annotation} --><a name="annotation"></a>
  <h2 id="annotation" style="margin-bottom:5px">Annotation</h2>
  <p>We imported the genome assembly and annotation from <a href="http://www.ncbi.nlm.nih.gov/genome/annotation_euk/Papilio_polytes/100/">NCBI Papilio polytes Annotation Release 100</a>. Out of 16,633 protein coding transcripts, 159 model RefSeq transcripts were modified by NCBI relative to this genomic sequence.</p>
<!-- {annotation} -->
<!-- {references} -->
  <h2>References</h2>
  <ol>
    <li><a id="ref-01"></a><a href="http://europepmc.org/abstract/MED/25751626">A genetic mechanism for female-limited Batesian mimicry in Papilio butterfly</a>.
  </ol>
<!-- {references} -->
