<!-- {about} --><a name="about"></a>
  
  <p id="about"></p>
<!-- {about} -->
<!-- {assembly} --><a name="assembly"></a>
  <h2 id="assembly" style="margin-bottom:5px">Assembly</h2>
  <p id="about">Data for <em>Plodia interpunctella</em> (Indian mealmoth) have been supplied by the Paterson Lab ahead of publication.  Please contact the <a href="https://www.liv.ac.uk/integrative-biology/staff/stephen-paterson/">Paterson Lab</a> if you plan to undertake/publish any large-scale analyses based on these data.</p>
  
  
  
<!-- {assembly} -->
<!-- {annotation} --><a name="annotation"></a>
  <h2 id="annotation" style="margin-bottom:5px">Annotation</h2>
  <p></p>
<!-- {annotation} -->
<!-- {references} -->
  <h2>References</h3>
  <ol>
    <!--li><a id="ref-01"></a><a href="http://europepmc.org/abstract/MED/123456">TITLE</a>.
  </ol>
 <!-- {references} -->
