<!-- {about} --><a name="about"></a>
  
    <p>(From Wikipedia) The navel orangeworm (Amyelois transitella) is a moth of the Pyralidae family. It is native to the south-western United States and Mexico and was first described from Arizona in 1899.</p>
  <p>Picture credit: <a href="https://commons.wikimedia.org/wiki/File:Amyelois_transitella_female.jpg">Simon Hinkley & Ken Walker, Museum Victoria</a></p>
  <p id="about"></p>
<!-- {about} -->
<!-- {assembly} --><a name="assembly"></a>
  <h2 id="assembly" style="margin-bottom:5px">Assembly</h2>
  <p>See <a href="http://www.ncbi.nlm.nih.gov/assembly/GCF_001186105.1/">NCBI GCF_001186105.1</a> for details.</p>
  
  
  
<!-- {assembly} -->
<!-- {annotation} --><a name="annotation"></a>
  <h2 id="annotation" style="margin-bottom:5px">Annotation</h2>
  <p>We imported the genome assembly and annotation from <a href="http://www.ncbi.nlm.nih.gov/genome/annotation_euk/Amyelois_transitella/100/">NCBI Amyelois transitella Annotation Release 100</a>. Out of 18,472 protein coding transcripts, 721 model RefSeq transcripts were modified by NCBI relative to this genomic sequence.</p>
<!-- {annotation} -->
<!-- {references} -->
  <h2>References</h2>
  <p>February 11, 2016: The genome is as yet unpublished.</p>
  <ol>
    <!--li><a id="ref-01"></a><a href="http://europepmc.org/abstract/MED/123456">TITLE</a>.
  </ol>
 <!-- {references} -->
