<!-- {about} --><a name="about"></a>
  
  <p id="about">(From Wikipedia) The Eastern tiger swallowtail (Papilio glaucus) is a species of swallowtail butterfly native to eastern North America. It is one of the most familiar butterflies in the eastern United States, where it is common in many different habitats.</p>
<!-- {about} -->
<!-- {assembly} --><a name="assembly"></a>
  <h2 id="assembly" style="margin-bottom:5px">Assembly</h2>
  <p>See <a href="http://prodata.swmed.edu/LepDB/">http://prodata.swmed.edu/LepDB/</a> for details.</p>  
  
  
  
<!-- {assembly} -->
<!-- {annotation} --><a name="annotation"></a>
  <h2 id="annotation" style="margin-bottom:5px">Annotation</h2>
  <p>We imported 15,692 gene models from the GFF file available at <a href="http://prodata.swmed.edu/LepDB/">http://prodata.swmed.edu/LepDB/</a></p>
<!-- {annotation} -->
<!-- {references} -->
  <h2>References</h2>
  <ol>
    <li><a id="ref-01"></a><a href="http://europepmc.org/abstract/MED/25683714">Tiger Swallowtail Genome Reveals Mechanisms for Speciation and Caterpillar Chemical Defense</a>.
  </ol>
<!-- {references} -->
