<!-- {about} --><a name="about"></a>
  
  <p id="about">(From Wikipedia) The fall armyworm (Spodoptera frugiperda) is part of the order of Lepidoptera and is the larval (see caterpillar) life stage of a fall armyworm moth. It is regarded as a pest and can wreak havoc with crops if left to multiply. Its name is derived from its feeding habits. They will eat everything in an area, and once the food supply is exhausted, the entire "army" will move to the next available food source.</p>
<!-- {about} -->
<!-- {assembly} --><a name="assembly"></a>
  <h2 id="assembly" style="margin-bottom:5px">Assembly</h2>
  <p>This assembly was downloaded from <a href="http://www.ncbi.nlm.nih.gov/assembly/GCA_000753635.2">http://www.ncbi.nlm.nih.gov/assembly/GCA_000753635.2</a>. This assembly is based on Sf21 cells. A whole-organism genome sequencing project is ongoing</p>.
<!-- {assembly} -->
<!-- {annotation} --><a name="annotation"></a>
  <h2 id="annotation" style="margin-bottom:5px">Annotation</h2>
  <p>Annotation files not currently available publicly.</p>
<!-- {annotation} -->
<!-- {references} -->
  <h2>References</h3>
  <ol>
    <li><a id="ref-01"></a><a href="http://europepmc.org/abstract/MED/24984256">A draft genome assembly of the army worm, Spodoptera frugiperda.</a>.
  </ol>
 <!-- {references} -->
