<!-- {about} --><a name="about"></a>
  
  <p>The diamondback moth, <em>Plutella xylostella</em>, is a global pest on cruciferous vegetable crops, including rapeseed, cauliflower and cabbage[1]. P. xylostella has acquired resistance to all classes of insecticide [2,3] and provides an excellent model system for understanding how insect herbivores adapt to plant defences and insecticide treatments [4]</p>
  <p>Picture credit (Creative Commons BY-SA 2.5 and GNU FDL): <a href="http://commons.wikimedia.org/wiki/File:Plutella.xylostella.7383.jpg">Wikimedia Commons</a> 2006</p-->
<!-- {about} -->
<!-- {assembly} --><a name="assembly"></a>
  <h2 id="assembly" style="margin-bottom:5px">Assembly</h2>
  <p>See <a href="http://www.ncbi.nlm.nih.gov/assembly/GCA_000330985.1">NCBI assembly GCA_000330985.1</a> for details.</p>
  
  
  
<!-- {assembly} -->
<!-- {annotation} --><a name="annotation"></a>
  <h2 id="annotation" style="margin-bottom:5px">Annotation</h2>
  <p>Annotations were imported from <a href="ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF_000330985.1_DBM_FJ_V1.1">NCBI RefSeq</a>. Out of 21,674 protein coding transcripts, 644 model RefSeq transcripts were modified by NCBI relative to this genomic sequence.</p>
<!-- {annotation} -->
<!-- {references} -->
  <h2>References</h3>
  <ol>
    <li><a id="ref-01"></a><a href="http://europepmc.org/abstract/MED/15355234">Biology, ecology, and management of the diamondback moth</a>.
    <li><a id="ref-02"></a><a href="http://europepmc.org/abstract/MED/24160415">Efficacy of genetically modified Bt toxins against insects with different genetic mechanisms of resistance</a>.et al</em>. 2011. Nat. Biotechnol. 29:1128-1131.</li>
    <li><a id="ref-03"></a><a href="http://europepmc.org/abstract/MED/19121390">Parallel evolution of Bacillus thuringiensis toxin resistance in Lepidoptera</a>. Baxter SW <em>et al</em>. 2011. Genetics 189:675-679.</li>
    <li><a id="ref-04"></a><a href="http://europepmc.org/abstract/MED/19843344">A heterozygous moth genome provides insights into herbivory and detoxification</a>.et al</em>. 2013. Nature Genetics. 45:220-225.</li>
  </ol>
 <!-- {references} -->
