<!-- {about} --><a name="about"></a>
  
  <p id="about">(From Wikipedia) <em>Papilio xuthus</em>, also known as the Asian swallowtail, Chinese yellow swallowtail or the Xuthus swallowtail, is a yellow-colored. medium to large sized swallowtail butterfly found in northeast Asia, Northern Myanmar, southern China, Korean Peninsula, Japan (from Hokkaidō to Yaeyama Islands), Siberia, and the Hawaiian Islands.</p>
<!-- {about} -->
<!-- {assembly} --><a name="assembly"></a>
  <h2 id="assembly" style="margin-bottom:5px">Assembly</h2>
  <p>See <a href="http://www.ncbi.nlm.nih.gov/assembly/GCA_000836235.1/">NCBI GCA_000836235.1</a> for details.</p>
  
  
  
<!-- {assembly} -->
<!-- {annotation} --><a name="annotation"></a>
  <h2 id="annotation" style="margin-bottom:5px">Annotation</h2>
  <p>We imported the genome assembly and annotation from <a href="http://www.ncbi.nlm.nih.gov/genome/annotation_euk/Papilio_xuthus/100/">NCBI Papilio xuthus Annotation Release 100</a>. Out of 21,602 protein coding transcripts, 102 model RefSeq transcripts were modified by NCBI relative to this genomic sequence.</p>
<!-- {annotation} -->
<!-- {references} -->
  <h2>References</h2>
  <ol>
    <li><a id="ref-01"></a><a href="http://europepmc.org/abstract/MED/25751626">A genetic mechanism for female-limited Batesian mimicry in Papilio butterfly</a>.
  </ol>
<!-- {references} -->
