.lb-column-one {
  text-align: center;
  width: 100%;
  margin: auto;
}
.lb-column-left {
  text-align: left;
  width: 100%;
  margin: auto;
}
.lb-plain-box {
  background: none;
  border: none;
}
.lb-species-box {
  width: 308px;
  display: inline-table;
  text-align: left;
  background-color: #d3dde9;
  margin: 2px 1px;
  overflow: hidden;
  padding-top:4px;
}

.species-list div.lb-species-box span.sp-img {
  padding: 0;
  border: none;
  background: none;
  margin-top:-2px;
}

.lb-primary-assembly {
  font-size: 108%;
  text-decoration: none;
  font-weight: bold;
}

a.lb-alternate-assemblies {
  font-size: 90%;
  color:#666666;
  margin-right:1em;
  text-decoration: none;
  font-weight: normal;
}
.lb-sp-img {
  float: left;
  margin-right: 8px;
  margin-top: -4px;
  text-decoration: none;
}
.lb-sp-img img {
  display: block;
  height: 48px;
  width: 48px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.lb-info-box {
  max-width: 700px;
  display: inline-block;
  margin: 2px 1px;
  background-color: #dbe6f3;
  border-color: #dbe6f3;
  vertical-align: top;
  padding: 6px;
}

.lb-species-page {
   padding:0;
   background-color:white;
 }
 iframe.lb-iframe {
   width:700px;
   height:700px;
   border:none;
 }

 h3.lb-heading {
    font-size: 1.1em;
    line-height: 2.5em;
    background-color: #555555;
    color: white;
    margin-bottom: 0;
    text-align: center
}
div#wide-footer, div#footer {
  background-color: #768293;
  margin: 10px 0px;
  padding: 16px 10px;
}

div#wide-footer a, div#footer a {
  color: #ffffff;
  text-decoration:none;
}

div.cookie-message {
  padding: 0 10px;
}
